.wrapper {
  display: grid;
  place-items: center;
  height: 100%;
  &__login {
    width: 30vw;
    min-width: 250px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #fff;
    border-radius: 8px;
  }
}
